.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: #ecfa00;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #ecfa00;
    display: flex;
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.letterContainer p:last-child {
    margin-bottom: 1.2em;
}

.tinyTip {
    font-size: 0.6em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

.input-container {
    position: relative;
}

input.error {
    border-color: red;
}
  
.error-message {
    position: absolute;
    bottom: -2em;
    left: 35%;
    transform: translateX(-50%);
    padding: 0.5em;
    background-color: red;
    color: white;
    border-radius: 0.5em;
    font-size: 0.8em;
    white-space: nowrap;
}
  
  
input.error-message::before,
input.error-message::after {
    content: "";
    position: absolute;
    z-index: 10;
}

.correct-letter {
    background-color: #ecfa00;
    color: #ecfa00;
}